@font-face {font-family: "Burbank Small";
    src: url("https://db.onlinewebfonts.com/t/e6ef295909045a8fb440d1b5f073ed4e.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/e6ef295909045a8fb440d1b5f073ed4e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/e6ef295909045a8fb440d1b5f073ed4e.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/e6ef295909045a8fb440d1b5f073ed4e.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/e6ef295909045a8fb440d1b5f073ed4e.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/e6ef295909045a8fb440d1b5f073ed4e.svg#Burbank Small") format("svg"); /* iOS 4.1- */
}

h3{
    color:white;
    font-size: 15px;
    font-family: "Burbank Small";
}

a{
    font-family: "Burbank Small";
}

h4{
    font-size: 14px;
}

#company-title {
    font-family: "Burbank Small";
}

#enable-flash {
    display: block;
    position: absolute;
    right: -60px;
    width: 265px;
    height: 65px;
    line-height: 0;
    margin-block-start: 0.00em;
    padding: 0;
    background: url('/img/flash.png') 10px -0px no-repeat;
}

#btn-unlock-items{
    margin-block-start: 5.00em;
}


#logo1 {
    display: block;
    margin-top: 5px;
    width: 145px;
    height: 70px;
    background: url('/img/cpri.png') 10px -0px no-repeat;
    text-indent: -9999px;
    line-height: 20px;
    position: absolute;
    top: 5px;
    left: 15px;
}
#logo1:hover {
  -webkit-filter: drop-shadow(3px 2px 5px #ffffff);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#user {
    display: block;
    position: absolute;
    line-height: 0;
    right: 18px;
    width: 190px;
    height: 60px;
    margin-block-start: 1.00em;
}

img[alt="avatar"]{
    position: absolute;
    right: 18px;
    width: 60px;
    height: 60px;
    line-height: 0;
    margin-block-start: 1.00em;
    padding: 0;
    display: none;
  }

#coins {
    display: block;
    position: absolute;
    right: 18px;
    width: 190px;
    height: 30px;
    line-height: 0;
    margin-block-start: 4.20em;
}

#server_stats {
    display: block;
    position: absolute;
    right: 18px;
    width: 190px;
    height: 60px;
    line-height: 0;
    margin-block-start: 2.60em;
}