<!DOCTYPE html PUBLIC "-//W3C//DTD HTML+RDFa 1.1//EN">
<html lang="en" dir="ltr" version="HTML+RDFa 1.1" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
<head profile="http://www.w3.org/1999/xhtml/vocab">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="/img/cpri.png" rel="apple-touch-icon-precomposed" sizes="72x72"/>
<link href="/img/cpri.png" rel="apple-touch-icon-precomposed" sizes="114x114"/>
<link href="/img/cpri.png" rel="apple-touch-icon-precomposed" sizes="144x144"/>
<link href="/img/cpri.png" rel="apple-touch-icon-precomposed" sizes="120x120"/>
<link href="/img/cpri.png" rel="apple-touch-icon-precomposed"/>
<meta http-equiv="x-dns-prefetch-control" content="on"/>
<link rel="dns-prefetch" href="https://cpreimagined.com/"/>
<link rel="dns-prefetch" href="https://cpreimagined.com/"/>
  <meta name="robots" content="index, follow"/>
  <meta name="description" content="Welcome to Club Penguin Reimagined, a virtual world for kids guided by an unwavering commitment to safety and creativity"/>
  <title>Create @ Club Penguin Reimagined</title>
  <meta property="og:site_name" content="Club Penguin Reimagined">
  <meta property="og:title" content="Create @ Club Penguin Reimagined">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://cpreimagined.com">
  <meta property="og:image" content="/img/cpri.png"/>
  <meta property="og:description" content="Club Penguin Reimagined is an unique fan-remake of Disney's original Club Penguin game."/>
  <meta name="robots" content="index, follow" />
  <meta name="description" content="Welcome to Club Penguin Reimagined, a place where you can play a fun and exciting recreation of Disney's Club Penguin. We are a fan-remake of the original Club Penguin and not in any way affiliated with Disney inc. Register and join in the fun today on Club Penguin Reimagined!">
  <meta name="keywords" content="CPPS, Club Penguin, Penguin, CPOR, Origins, CPOrigins, Club Penguin Origins, Club Penguin Online, Club, Mirai, Club Penguin Spain, Club Penguin Spanish, Club Penguin Espanol, Club Penguin Brasil, Club Penguin Rewritten, Oasis, FreePenguin, VIPenguin, VirtualPenguin, Virtual Penguin, Club Penguin Private Server, cps, cp spain, cpspain, new club penguin, club penguin brasil, cpbr, cp brasil, cp brasileiro, card jitsu, card jitsu fire, card jitsu water, puffles, igloos, sled racing, sled race, cpri, Club Penguin Reimagined, CPRI, CPReimagined, CPPS, cpps, CPReimagined, Club Penguin Reimagined, club penguin Reimagined, CPOR, cpor, cpReimagined, cp Reimagined, CP Reimagined, cpreimagined, CP, cp, clubpenguin">
  <link rel="canonical" href="/">
  <link type="text/css" rel="stylesheet" href="/css/home/1.css" media="all"/>
<link type="text/css" rel="stylesheet" href="/css/home/2.css" media="all"/>
<link type="text/css" rel="stylesheet" href="/css/home/3.css" media="all"/>
<link type="text/css" rel="stylesheet" href="/css/home/4.css" media="all"/>
<link type="text/css" rel="stylesheet" href="/css/home/5.css" media="all"/>
<link type="text/css" rel="stylesheet" href="/css/home/6.css" media="all"/>
<link type="text/css" rel="stylesheet" href="/css/home/7.css" media="all"/>
<link type="text/css" rel="stylesheet" href="/css/home/8.css" media="all"/>

<link rel="icon" type="image/png" href="/img/favicon.png">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/flake.css">

<script src="/js/flake.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=<%= site_key %>"></script>
<script>
  grecaptcha.ready(function () {
      grecaptcha.execute('<%= site_key %>', { action: 'home' }).then(function (token) {
          var recaptchaResponse = document.getElementById('recaptchaResponse');
          recaptchaResponse.value = token;
      });
  });
</script>
<script src="/js/bootstrap.min.js"> </script>

  <!--[if lt IE 9]><script src="http://clubpenguinimg-a.akamaihd.net/sites/default/themes/club_penguin/js/html5.js"></script><![endif]-->
    <script>
      let specialLoop = false;

      if(specialLoop) window.onload = setupScene;

      function setupScene() {
        let videoScene = document.getElementById('videoScene');

        videoScene.loop = false; //for the "ended" event
        videoScene.addEventListener('ended', _=> {
          videoScene.currentTime = 22;
          videoScene.play();
        });
      }
    </script>
</head>
<body>
  <div class="region region-page-top" id="region-page-top">
  <div class="region-inner region-page-top-inner">
      </div>
</div>  <div id="wrapper" class="en">
	<div id="masthead">
      <div id="nav">
        <div itemscope itemtype="http://schema.org/Organization">
            <a href="/" id="logo1"></a>
        </div>
        <ul itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <li itemprop="name"><a itemprop="url" href="/create" class="cpmenu">Create a Penguin</a></li>
            <li itemprop="name"><a itemprop="url" href="/reset" class="cpmenu">Reset Password</a></li>
            <li itemprop="name"><a itemprop="url" href="/panel" class="cpmenu">Panel</a></li>
            <li itemprop="name"><a itemprop="url" href="https://discord.gg/Eyd6WUT" class="cpmenu">Discord</a></li>
            <li itemprop="name"><a itemprop="url" href="https://twitter.com/cpreimagined" class="cpmenu">Twitter</a></li>
            <li itemprop="name"><a itemprop="url" href="https://instagram.com/cpreimagined" class="cpmenu">Instagram</a></li>
        </ul>
        <a href="/play" id="play-now">play now</a>
    </div><!--nav-->
</div><!--masthead-->	<div id="w980">
    <% if (error_message != '') { %>
        <div class="alert alert-danger" role="alert"><%= error_message %></div>
        <% } %>
<center> 
    <% if (!success_message) { %>
      <div class="create-account">
          <form action="/create" method="POST" name="reg" onsubmit="">
              <input type="text" name="username" id="username" oninput="usernamePurity();" placeholder="Username" required><br>
              <input type="password" name="password" id="password" oninput="passwordCheck()" placeholder="Password" required><br>
              <input type="password" name="password_confirm" id="password_confirm" oninput="passwordConfirm()" placeholder="Confirm Your Password" required><br>
              <input type="text" name="email" id="email" oninput="emailCheck()" placeholder="Email" required><br>
              <br>
              <input type="submit" class="btn btn-primary">
              <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
              <input type="hidden" value="1" id="penguinColorInput" name="penguin_color" />
          </form>
      
          <div id="colours"> 
          <div class="foo blue" id="c1" style="opacity: 1;" onclick="changeImage('/img/colors/1.png')"></div>
          <div class="foo green" id="c2" style="opacity: 1;" onclick="changeImage('/img/colors/2.png')"></div>
          <div class="foo pink" id="c3" style="opacity: 1;" onclick="changeImage('/img/colors/3.png')"></div>
          <div class="foo black" id="c4" style="opacity: 1;" onclick="changeImage('/img/colors/4.png')"></div>
          <div class="foo red" id="c5" style="opacity: 1;" onclick="changeImage('/img/colors/5.png')"></div>
          <div class="foo orange" id="c6" style="opacity: 1;" onclick="changeImage('/img/colors/6.png')"></div>
          <div class="foo yellow" id="c7" style="opacity: 1;" onclick="changeImage('/img/colors/7.png')"></div>
          <br>
          <div class="foo purple" id="c8" style="opacity: 1;" onclick="changeImage('/img/colors/8.png')"></div>
          <div class="foo brown" id="c9" style="opacity: 1;" onclick="changeImage('/img/colors/9.png')"></div>
          <div class="foo lightpink" id="c10" style="opacity: 1;" onclick="changeImage('/img/colors/10.png')"></div>
          <div class="foo darkgreen" id="c11" style="opacity: 1;" onclick="changeImage('/img/colors/11.png')"></div>
          <div class="foo lightblue" id="c12" style="opacity: 1;" onclick="changeImage('/img/colors/12.png')"></div>
          <div class="foo lightgreen" id="c13" style="opacity: 1;" onclick="changeImage('/img/colors/13.png')"></div>
          <div class="foo grey" id="c14" style="opacity: 1;" onclick="changeImage('/img/colors/14.png')"></div>
      </div>
          <img id="imgDisp" alt="" src="/img/colors/1.png"/>
          </div>

        <% } else{ %>  
        <div class="alert alert-success" role="alert"><%= success_message %></div>
        <% } %>
    




</center>

		<div id="footer" class="en">
    <div id="quicklinks">
        <div id="quicklinks-title">More</div>
        <ul id="quicklinks-menu">
            <li><a href="https://club-penguin-reimagined.fandom.com/wiki/Club_Penguin_Reimagined_Wiki" class="cpmenu">Wiki</a></li>
            <li><a href="https://discord.gg/Eyd6WUT" class=cpmenu">Discord</a></li>
            <li><a href="/reset" class="cpmenu">Reset Password</a></li>
            <li><a href="https://instagram.com/cpreimagined" class="cpmenu">Instagram</a></li>
        </ul><!--#quicklinks-->
    </div>
    <div id="company">
        <div id="company-title">Reimagined</div>
        <ul id="company-menu">
            <li><a href="https://club-penguin-reimagined.fandom.com/wiki/Club_Penguin_Reimagined_Wiki">News</a></li>
            <li><a href="/staff">Staff</a></li>
        
        </ul>
    </div><!--#company-->
    <div id="footer-buttons">
        <a id="btn-unlock-items" href="/redeem">Unlock Items</a>
    </div><!--#footer-buttons-->
    <div id="industry">
              </div>
    <div id="legal">
        <h4> powered by <a href='https://rsakeys.org/'>rsakeys.org</a> </h4>
</div><!--#footer-->
	</div><!--w90-->
</div> <!--wrapper-->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
/**
* function to launch agegate/interstitial from within flash
*/
function itunesInterstitial() {
	jQuery("#itunesLink").mousedown();
}
</script>

<!-- <a href='http://smarturl.it/ctpbiTuness1' id='itunesLink' class='agegated-link' style='height: 1px; width: 10px; color: transparent; display: block; margin: 0; padding: 0;' rel='Leaving Club Penguin?|You are heading to the iTunes store, where there is a different Terms of Use and Privacy Policy. Remember to get a parent&rsquo;s permission to buy anything online.|Stay Here|Go To iTunes' >_</a>
 -->
  <div class="region region-page-bottom" id="region-page-bottom">
  <div class="region-inner region-page-bottom-inner">
    <div class="pixel-tracking"></div><div style="display:inline;"></div>  </div>
</div>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
  $('#language-select a.top-level').click(function(e) {
    $(this).addClass('active');
    $('#bottom-languages').css('display', 'block');
    return false;
  });
  $('#language-select').mouseleave(function(){
    $('a.top-level').removeClass('active');
    $('#bottom-languages').hide();
  });
</script>
</body>
</html>